/*
 * Nested Properties
 */

.funky {
  font: {
    family: Monaco;
    size: 0.9em;
    weight: bold;
  }
}

/*
 * Maps
 */

$map: (key1: value1, key2: value2, key3: value3);


/*
 *  == OPERATIONS ==
 */

/*
 * Division and /
 */

division-not-happen {
  font: 10px/8px;
}

division-happen {
  $width: 1000px;
  width: $width/2; // use a variable, does division
  line-height: round(2.3em)/2; //use a function, does division
  height: (500px/2); //use parentheses, does division
  marigin-left: 5px + 8px/2; // use +, does division
}

/*
 * String operations
 */

p {
  cusor: e + -resize;
}

/*
 * Interpolation: # { }
 */

p:before {
  content: "I ate #{5 + 10} pies!";
}

$name: foo;
$attr: border;
p.#{$name} {
  #{$attr}-color: blue;
}

x {
  $font-size: 12px;
  $line-height: 30px;
  what-you-want: #{$font-size}/#{$line-height};
  not-what-you-want: $font-size/$line-height;
}

/*
 * import
 */

@import "part"

/*
 * Nested import
 */