@import "normalize";
@import "fonts";
@import "hljs-gist";

$font-main: "Roboto", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
$font-mono: IosevkaWEB, Inconsolata, "Ubuntu Mono", Consolas,"Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
// $red: #e91363;
$red: #CF649A;
$green: #009688;
$complementary: #78AB26;

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  background: #efede4;
}

code {
  font-family: $font-mono;
}

.description {
  width: 800px;
  margin: 0 auto;
  padding: 3em 2em;
  h2,
  h3,
  h4 {
    position: relative;
    color: $red;
  }
  pre {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding: 15px 15px;
  }
}

.compare {
  display: flex;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  background: linear-gradient(90deg, #fff 50%, #f3f3f3 50%);
}

.col {
  width: 50%;
  padding: 1em 1.5em;
  position: relative;
  vertical-align: top;
}

.type {
  position: absolute;
  top: 0px;
  left: 5px;
  font-size: 1.3em;
  font-style: italic;
  color: #ccc;
}

p {
  line-height: 1.6em;
  img {
    max-width: 100%;
  }
}

li {
  line-height: 1.8em;
}

pre > code {
  font-family: $font-mono;
  font-weight: 300;
}

p > code,
li > code {
  padding: 0.2em 0.2em;
  margin: 0 2px;
  background: rgba(0,0,0,.04);
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 85%;
}

h2 {
  font-weight: 300;
  font-size: 2.3em;
}

h3 {
  font-weight: 300;
  font-size: 1.6em;
}

h4 {
  font-size: 1.2em;
}

a.anchor {
  // position: absolute;
  // left: -1em;
  color: $red;
  text-decoration: none;
  font-size: 1.2em;
  padding-right: 10px;
  // display: none;
  &:hover {
    color: $green;
  }
}

h2:hover, h3:hover, h4:hover {
  a.anchor {
    display: inline-block;
  }
}

p, li {
    a {
    text-decoration: none;
    color: $green;
    transition: all 0.2s ease-in;
    &:hover {
      color: #fff;
      background: $green;
      border-radius: 5px;
    }
  }
}

.toc {
  .left, .right {
    //display: inline-block;
    float: left;
    width: 50%;
  }
  .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-around;
    width: 100%;
    height: 700px;
    overflow-x: auto;
  }
  .title {
    text-align: center;
  }
  .top-level {
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 220px;
  }
  ul {
    list-style: none;
    padding-left: 25px;
    //a {
    //  color: $green;
    //}
  }
  @at-root {
    body {
      position: relative;
    }
  }
  position: fixed;
  background: #ddfbfb;
  z-index: 1;
  width: 100%;
  top: 0;
  padding: 0 20px;
  border-top: 5px solid #00bcd4;

  transition: all .4s ease-out;
  // display: none;
  // margin-left: -999px;
  // left: -100%;
  top: -120%;
  &.show {
    // display: block;
    // margin-left: 0;
    // left: 0;
    top: 0;
    box-shadow: 5px 2px 40px 5px #ccc;
  }
}

.tocbtn {
  position: fixed;
  right: 4%;
  bottom: 4%;
  padding: 5px;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #000;
  color: #333;
  z-index: 2;
  background: none;
  &:hover {
    color: #fff;
    border-color: #fff;
    background: $red;
  }
}

// < header
header {
  text-align: center;
  nav {
    list-style: none;
    li {
      display: inline;
    }
  }
  a {
    text-decoration: none;
  }
  .home-link {
    color: #333;
  }
  h1 {
    font-weight: 300;
    font-size: 2.5em;
  }
  .sass-logo {
    path {
      stroke-width: 5px;
      stroke: #fff;
    }
  }
  .after-logo {
    padding-top: 40px;
  }
}
// > header

// > footer
footer {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #666;
  &:hover {
    .love {
      color: red;
    }
  }
}
// < footer
