<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Learn Sass</title>
  <meta name="description" content="learn Sass">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#c6538c">
  <link href='http://fonts.useso.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="site.css">
</head>
<body>
<div class="toc">
  <%- toc %>
</div>
<% contents.forEach( function(content) { %>
<section class="description">
<%- content.description %>
</section>
<section class="compare cf">
  <div class="col left"><%- content.left %></div><div class="col right"><%- content.right %></div>
</section>
<% }); %>
</body>
</html>
